&pointing_listener {
    scroller {
        layers = <4>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_transform INPUT_TRANSFORM_X_INVERT
            &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
        >;
    };
};
kjlj